@font-face {
  font-family: 'HSESans-Black';
  src: url('../assets/fonts/HSESans-Black.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'HSESans-Bold';
  src: url('../assets/fonts/HSESans-Bold.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'HSESans-Italic';
  src: url('../assets/fonts/HSESans-Italic.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'HSESans-Regular';
  src: url('../assets/fonts/HSESans-Regular.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'HSESans-SemiBold';
  src: url('../assets/fonts/HSESans-SemiBold.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'HSESans-Thin';
  src: url('../assets/fonts/HSESans-Thin.otf') format('opentype');
  font-style: normal;
}
